

.background{
    background-color:  #ffe6e6;
   
}


.header{
    background-color: #fbe3d0;
  
}
.header h1 {
    font-family: 'Satisfy', cursive;
    text-align: center;
 padding: 10px;
    color: black;
}


.menu{
    background-color: #fdf0e8;
    height: 50px;
    margin-top: 10px;
}
.menu ul{


}
.menu ul li{
    list-style: none;
}
.menu ul li a {
    text-decoration: none;
    float: left;
    padding:  20px 40px 20px 40px;
    color: black;
    font-family: 'Old Standard TT', serif;
}
.menu ul li a:hover{
    background-color: #fff;
    display: inline;
}

.slider{
    background-image: url("image/2.jpg");
      background-size: cover;
    width: 100%;
    height: 100vh;
}

.slide-container{
    position: absolute;
    width: 50%;
    top: 50%;
    bottom: 50%;
    padding: 20px;
    background: rgb(253, 241, 232, 0.5);
}
.slide-container p{
    font-family: 'Old Standard TT', serif;
        font-size: 20px;
}


.about-me{
    
    background-color: #ffe6e6;

}

.about-me h1{
    
    
    text-align: center;
    
    
}
.about-me img{
   width: 100%;
}

.content{
    
   font-size: 20px;
 padding:10px ;
 font-family: 'Old Standard TT', serif;

 
}
   
.service{

    background-color: #ffe5cc;

}
.service h1{
    padding: 20px;

    text-align: center;
    
}

.image-container {
    position: relative;
    width: 100%;
  
  }
  
  .image {
    display: block;
    width: 100%;
    height: 300px;
  }
  
  .overlay {
    position: absolute;
    bottom: 100%;
    
    background-color: #fff3e6;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }
  
  .image-container:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  
  .text {
    color: black;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Old Standard TT', serif;
    font-weight: bold;
  }
.text p {
    font-family: 'Satisfy', cursive;
    font-size: 20px;
    color: black;
    font-weight: normal;
    padding-top: 10px;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}

.works{
    background-color: #ffe6e6;
   
}
.works h1{
 
    text-align: center;
  
    
}

.container-work {
    margin-top: 20px;
    position: relative;
    width: 100%;
}
.image-work{
    opacity: 1;
    display: block;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}
.middle-work {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container-work:hover .image-work {
    opacity: 0.3;
  }
  
  .container-work:hover .middle-work {
    opacity: 1;
  }
  
  .text-work a  {
    background-color: #fff3e6;
    color: black;
    font-size: 15px;
    padding: 12px 15px;
    text-decoration: none;
   
  }
  .footer{
    background-color: #fff;
    height: 20px;
   
  }
  .footer h5{
    font-family: 'Satisfy', cursive;
    text-align: center;
    padding: 5px;
    font-size: 20px;}